/aspnetcore/.vs
/aspnetcore/OrderApi/obj
/aspnetcore/OrderApi/bin
/aspnetcore/UserApi/obj
/aspnetcore/UserApi/bin
/aspnet/AspNet451/obj
/aspnet/AspNet451/bin
/aspnet/AspNet461/obj
/aspnet/AspNet461/bin
/aspnet/OrderApi/obj
/aspnet/OrderApi/bin
/aspnet/UserApi/obj
/aspnet/UserApi/bin
/aspnet/AspNet451_WebForm/obj
/aspnet/AspNet451_WebForm/bin
